# Dependencias
node_modules/
package-lock.json

# Firebase
.firebase/
*.log
.firebaserc
.firebase/

# Entorno
.env
.env.local
.env.development
.env.production

# IDE
.vscode/
.idea/
*.swp
*.swo

# Sistema
.DS_Store
Thumbs.db

# Build
dist/
build/
nombre-del-archivo.json
